[submodule "MADlibs"]
	path = MADlibs
	url = https://github.com/lgoff/MADlibs.git
[submodule "WYR"]
	path = WYR
	url = https://github.com/lgoff/WYR.git
[submodule "ThisOrThat"]
	path = ThisOrThat
	url = https://github.com/lgoff/ThisOrThat.git
[submodule "jqueryFAQ"]
	path = jqueryFAQ
	url = https://github.com/lgoff/jqueryFAQ.git
